<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Welcome to LogicLumini Studios</h2>
                <hr class="light">
                <p class="text-faded">At Logiclumini Studios, we're all about making Minecraft experiences truly special. We love crafting custom plugins and cool gameplay features that take your server to the next level. Working closely with server owners, we bring your ideas to life, adding a touch of creativity and functionality. Whether you want to spice up gameplay, add new features, or boost server performance, we've got you covered. Join us and let's create something awesome together!</p>
                <a href="logic.anturnia.net/discord" class="btn btn-default btn-xl button-hover-effect">
                    <img class="img-icon" src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a69f118df70ad7828d4_icon_clyde_blurple_RGB.svg" alt="Discord">
                    Connect with us on our Discord</a>
            </div>
        </div>
    </div>
</section>
