<footer>
    <div class="container">
        <table class="footer-table">
            <tr>
                <td class="left-section">
                    <h4><b>Connect with us</b></h4>
                    <a href="https://logic.codearray.dev/discord">Discord</a>
                    <a href="https://youtube.com/@frinshhd">YouTube</a>
                </td>
                <td class="right-section">
                    <h4><b>Legal Information</b></h4>
                    <a href="/legalnotice.html">Legal Notice</a>
                    <a href="/privacypolicy.html">Privacy Policy</a>
                </td>
            </tr>
            <tr>
                <td colspan="3" class="copyright">
                    <p>Copyright &copy; 2024 LogicLumini Studios</p>
                </td>
            </tr>
        </table>
    </div>
</footer>