<p style="font-weight: 700; font-size: 10px;">&nbsp</p>

<div class="page">
    <div class="text">
        <h2><b>Privacy Policy</b></h2>
        <text>Data protection and the privacy of our visitors is one of our main priorities. <br>
            The use of the Internet pages of logic.codearray.dev is possible without any indication of personal data.<br>
            This Privacy Policy document contains types of information that is collected and recorded by logic.codearray.dev and how we use it.<br>
            We draw your attention to the fact that data transmission over the Internet (e.g. when communicating by e-mail) may involve gaps in security. It is not possible to protect such data completely against access by third parties.<br>
            If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us through email at contact@urasepandia.de<br>
            <br>
            <h3>General Data Protection Regulation (GDPR)</h3>
            If you are a resident of the European Economic Area (EEA), you have certain data protection rights. If you wish to be informed what Personal Information we hold about you and if you want it to be removed from our systems, please contact us. <br>
            In certain circumstances, you have the following data protection rights: <br>
            <ul>
                <li>The right to access, update or to delete the information we have on you.</li>
                    <li>The right of rectification.</li>
                        <li>The right to object.</li>
                            <li>The right of restriction.</li>
                                <li>The right to data portability</li>
                                    <li>The right to withdraw consent</li>
              </ul> 
              <br>
            <h3>Log Files</h3>
            This website follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services’ analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users’ movement on the website, and gathering demographic information.<br>
            <br>
            <h3>Links To Other Sites</h3>
            Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party’s site. We strongly advise you to review the Privacy Policy of every site you visit.<br>
            We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.<br>
            <br>
            <h3>Changes To This Privacy Policy</h3>
            We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.<br>
            You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.<br>
            <br>
            <h3>Contact Us</h3>
            If you have any questions about this Privacy Policy, please contact us:
            <ul>
                <li>By email: contact@urasepandia.de</li>
                <li>By mail: Ulrich Ramminger, Eichendorffstr. 2, 82223 Eichenau, Germany</li>
            </ul>
            </text>
    </div>
</div>
